.nav {
    overflow: hidden;
}

.navItem {
    text-decoration: none !important;
    padding: 20px;
    border-radius: 50%;
    transition: .3s;
}

.navItem:hover > * {
    color: white;
    transform: scale(0.4);
}

.navItem:hover {
    background-color: #ECA553;
    transform: scale(3);
}

.navLink.active {
    color: #B9110F !important;
}

.navLink.active {
    color: #B9110F !important;
}

.rotatingIcon {
    background-color: #B9110F;
    animation: rotate 2s infinite alternate;
}

.rotatingIcon > * > i {
    color: white;
}

.navLink {
    color: #282c34;
    text-decoration: none;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink > i {
    font-size: 2em;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}